.special-class {
    .card-img {
        height: 341px;
    }
}

.class-card {
    height: 196px;
    position: relative;

    &::before {
        position: absolute;
        content: '60min';
        background-color: #C0A4A5;
        color: #FFF;
        border-radius: 16px;
        width: 75px;
        height: 29px;
        font-size: 14px;
        text-align: center;
        line-height: 29px;
        top: -15px;
        left: 40px;
    }
}

.card-photo {
    border-radius: 50%;
    position: absolute;
    width: 96px;
    height: 96px;
    top: -12%;
    left: 38%;
}

@media (max-width:992px) {
    .modal-dialog-width {
        max-width: 80%;
    }
}

@media (max-width:576px) {
    .modal-dialog-width {
        max-width: 100%;
    }
}