.banner {
    width: 100%;
    height: 582px;
    background-image: url(../images/photo-1612157777902-5382bc6e864b.jpeg);
    background-position: 0 110%;
    background-size: cover;
}

.advantage-card {
    height: 420px;
}

.teacher-info {

    .card-img {
        width: 100%;
        height: 628px;
        background-image: url(../images/photo-1540206276207-3af25c08abc4.jpeg);
        background-position: 0 90%;
    }

    .teacher-pic {
        width: 94px;
        height: 94px;
    }
}

.environment-introduct {
    .card-img-lg {
        height: 444px;
    }

    .card-img-md {
        height: 207px;
    }
}

.swiper-img {
    height: 445px;
}

.course-select {

    .course-card {
        height: 497px;

        .card-img {
            height: 50%;
            border-radius: 16px 16px 0px 0px;
            display: block;
        }
    }
}

.recommend {

    .recommend-card {
        padding: 14px 16px;

        .user-img {
            width: 60px;
            height: 60px;
            margin-right: 22px;
        }
    }

    .mb-11 {
        margin-bottom: 11px;
    }
}

.teacher-card {
    top: 0;
    right: 0;

    &-item {
        width: 100%;

        &-lg {
            width: 110%;
        }
    }
}

.icon-navbar {
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .fab {
        font-size: 48px;
    }
}