//首圖設定
.banner {
    width: 100%;
    height: 582px;
    background-image: url(../images/photo-1612157777902-5382bc6e864b.jpeg);
    background-position: 0 110%;
    background-size: cover;
}

//手機版首圖設定
@media (max-width: 576px) {
    .banner {
        background-position: 30% 110%;
    }
}

//感受身心 活在當下 卡片高度設定
.advantage-card {
    height: 420px;
}

@media (max-width: 992px) {
    .advantage-card {
        height: 252px;
    }
}

@media (max-width: 576px) {
    .advantage-card {
        height: 420px;
    }
}

//頂尖師資介紹
.teacher-info {

    //左側圖片設定
    .card-img {
        width: 100%;
        height: 628px;
        background-image: url(../images/photo-1540206276207-3af25c08abc4.jpeg);
        background-position: 0 90%;
    }

    //老師頭像圖片
    .teacher-pic {
        width: 94px;
        height: 94px;
    }

    .teacher-card {
        top: 0;
        right: 0;

        &-item {
            width: 100%;

            &-lg {
                width: 110%;
            }
        }
    }

    @media (max-width: 576px) {
        .teacher-card {
            &-item {
                width: 100%;

                &-lg {
                    width: 100%;
                }
            }
        }
    }
}

//舒適空間 靜心放鬆 圖片設定
.environment-introduct {
    .card-img-lg {
        height: 444px;
    }

    @media (max-width: 992px) {
        .card-img-lg {
            height: 266px;
        }
    }

    .card-img-md {
        height: 207px;
    }

    @media (max-width: 992px) {
        .card-img-md {
            height: 117px;
        }
    }
}

//精心設計 課程多元 平板/手機板圖片設定
.course-introduct {
    .card-img {
        height: 150px;
    }
}

//精心設計 課程多元 電腦板圖片設定
.swiper-img {
    height: 445px;
}

//方案選擇
.course-select {

    .course-card {
        height: 497px;

        .card-img {
            height: 50%;
            border-radius: 16px 16px 0px 0px;
            display: block;
        }
    }
}

//聽聽他們怎麼說
.recommend {

    .recommend-card {
        padding: 14px 16px;

        .user-img {
            width: 60px;
            height: 60px;
            margin-right: 22px;
        }
    }

    .mb-11 {
        margin-bottom: 11px;
    }
}