//按鈕圓角設定
.rounded-lg {
    border-radius: 16px;
}

.rounded-md {
    border-radius: 4.8px;
}

.rounded-sm {
    border-radius: 4px;
}

.btn-brick-red {
    color: #FFF;

    &:hover {
        color: #FFF;
    }
}

.reserve-btn,
.course-btn {
    &:hover {
        color: #FFF;
    }
}

.fa-arrow {
    margin-left: 11px;
}